<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Container Loaded</title>
</head>

<body>
  <h1>Container Loaded Succesfully</h1>

  <p>Hello Dad</p>
  <p>We've successfully loaded the container today.</p>
  <script src="./index.js"></script>
  <script id="entry-template" type="text/x-handlebars-temp late">
      <p>
        Container Number: {{containerNumber}}
      </p>
      <p>
        Seal Number: {{sealNumber}}
      </p>
    </script>

  <p>I've attached a tally to this email.</p>
  <p>Please let me know if there are any errors.</p>
  <p>Thanks</p>
  <br />
  <p>Kingsley Onyensoh</p>
  <p>Nnenna Textiles</p>
  <p>Software Developer</p>
</body>

</html>